# Ignore node_modules directory
node_modules/

# Ignore build artifacts
artifacts/
bin/

# Ignore Solidity build info
*.json

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Remix
.deps
